
<div class="container">

    <div class="tabela"> 
        
        <div class="input">
                <!-- <button [routerLink]="['/admin/room/new']" class="btn btn-outline-dark new"><i class="fas fa-plus"></i></button> -->

            <mdb-form-control style="width: 200px;">
                <input mdbInput type="number" id="typeText" class="form-control" [(ngModel)]="IdBusca"/>
                <label mdbLabel class="form-label" for="typeText">ID da sala</label>
            </mdb-form-control>
            <button class="btn btn-dark " mdbRipple (click)="Buscar()"><i class="fas fa-search"></i></button>  
            

        </div>


        <table class="table align-middle mb-0">
        <thead>
            <tr> 
                <th>id</th>
                <th>Nome</th>
                <th>Capacidade</th>
                <th>Recursos</th>
                <th>Status</th>
                <th>Bloco</th>
                @if(auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_PROFESSOR') || auth.hasRole('ROLE_COORDENACAO')) {
                <th class="text-center">Ações</th> 
                }
            </tr>
        </thead>
        <tbody>
            @for (sala of lista; track $index) {
                <tr>
                    <td>{{sala.id_sala}}</td>
                    <td>{{sala.nome}}</td>
                    <td>{{sala.capacidade}}</td>
                    <td>{{sala.recursos}}</td>
                    <td>{{sala.tipoSala}}</td>                  
                    <td>{{sala.tipoSalaBloco}}</td>  
                   
                    <td class="text-center">
                        @if(auth.hasRole('ROLE_PROFESSOR') || auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_COORDENACAO')) {
                        <button type="button" class="btn btn-outline-success me-1" mdbRipple [routerLink]="['/admin/room/reserva/new/',sala.id_sala]">Reservar</button>
                        }
                         @if(auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_COORDENACAO')) {

                        <button type="button" class="btn btn-outline-primary me-1" mdbRipple [routerLink]="['/admin/room/edit/', sala.id_sala]"><i class="far fa-edit"></i></button>
                        <button type="button" class="btn btn-outline-danger" mdbRipple (click)="deletar(sala)"><i class="fas fa-trash"></i></button>
                    }              

                    </td>  
  
                </tr>
            }

            
            </tbody>

        </table>
        @if(auth.hasRole('ROLE_ADMIN')) {
            <button [routerLink]="['/admin/room/new']" class="btn btn-dark fab-btn" mdbRipple>
                <i class="fas fa-plus"></i>
            </button>
        }
    </div>
</div>