

<div class="container">

    <div class="tabela"> 

        <div class="input">
   
            <!-- <button [routerLink]="['/admin/users/new']" class="btn btn-outline-dark new"><i class="fas fa-plus"></i></button> -->
            
            <mdb-form-control style="width: 200px;">
                <input mdbInput type="number" id="typeText" class="form-control " [(ngModel)]="IdBusca"/>
                <label mdbLabel class="form-label" for="typeText">ID do Usuário</label>
            </mdb-form-control>
            <button class="btn btn-dark " mdbRipple (click)="Buscar()" ><i class="fas fa-search"></i></button>  
        </div>

        <table class="table align-middle mb-0">
        <thead>
            <tr>
                <th class="text-center">id</th>
                <th class="text-center">Número</th>
                <th class="text-center">Bloco</th>
                <th class="text-center">Data inicio</th>
                <th class="text-center">Data fim</th>
                
                <th class="text-center">Professor</th>
                <th class="text-center">Matéria</th>
                
                @if(auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_PROFESSOR') || auth.hasRole('ROLE_COORDENACAO')){

                <th class="text-center">Ações</th>
                }
            </tr>
        </thead>
        <tbody>
            
            @for (reserva of lista; track $index) {
                <tr>
                
                    <td class="text-center">{{reserva.id_reserva}}</td>
                    <td class="text-center">{{reserva.nomeSala}}</td>
                    <td class="text-center">-</td>
                    <td class="text-center">{{reserva.dataHoraInicio  | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td class="text-center">{{reserva.dataHoraFim  | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td class="text-center">{{reserva.nomeUsuario}}</td>
                    <td class="text-center">{{reserva.nomeDisciplina}}</td>
                    
                    @if(auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_COORDENACAO')){
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-primary me-1" mdbRipple [routerLink]="['/admin/room/reserva/edit/',reserva.id_reserva]">Editar</button>
                        <button type="button" class="btn btn-outline-danger me-1" mdbRipple (click)="deletar(reserva)">Cancelar</button>
                    </td>
                    }
    
                    

                </tr>
            }


                  

            </tbody>
        </table>

        <!-- <button [routerLink]="['/admin/reserva/new']" class="btn btn-dark fab-btn btn-criar" mdbRipple>
            <i class="fas fa-plus"></i>
        </button> -->

    </div>
</div>