<div class="container">

    <div class="tabela"> 

        <div class="input">
   
            <!-- <button [routerLink]="['/admin/users/new']" class="btn btn-outline-dark new"><i class="fas fa-plus"></i></button> -->
            
            <mdb-form-control style="width: 200px;">
                <input mdbInput type="number" id="typeText" class="form-control " [(ngModel)]="IdBusca"/>
                <label mdbLabel class="form-label" for="typeText">ID do Usuário</label>
            </mdb-form-control>
            <button class="btn btn-dark " mdbRipple (click)="Buscar()" ><i class="fas fa-search"></i></button>  
        </div>

        <!-- <div class="input">
            <div class="search-box">
                <mdb-form-control class="search-input">
                <input mdbInput type="number" id="userId" class="form-control" />
                <label mdbLabel class="form-label" for="userId">Buscar ID do Usuário</label>
                </mdb-form-control>
                <button class="btn btn-dark search-btn" mdbRipple>
                <i class="fas fa-search"></i>
                </button>
            </div>


        </div> -->

        
        <!-- <input type="number" placeholder="Id do cliente" > -->
        <table class="table align-middle mb-0">
        <thead>
            <tr>
            <th>Id</th>
            <th>Nome</th>
            <th class="text-center">Email</th>
            <th class="text-center">Tipo de usuário</th>
            <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            
            @for (usuario of lista; track $index) {
                <tr>
                
                    <td>{{usuario.id_usuario}}</td>
                    <td>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-user-alt"></i>
                        <div class="ms-1">
                            <p class="fw-bold mb-1">{{usuario.nome}}</p>
                        </div>
                        </div>
                    </td>
                    <td class="text-center">{{usuario.email}}</td>

                    <td class="text-center">{{usuario.tipoUsuario}}</td>
                    
                    <td class="text-center">
                        <button type="button" class="btn btn-outline-primary me-1" mdbRipple [routerLink]="['/admin/users/edit/', usuario.id_usuario]">Editar</button>
                        <button type="button" class="btn btn-outline-danger me-1" mdbRipple (click)="deletar(usuario)">Excluir</button>
                    </td>    
                    

                </tr>
            }


            

            </tbody>
        </table>
        <button [routerLink]="['/admin/users/new']" class="btn btn-dark fab-btn" mdbRipple>
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>